# Dependencies
/phoenix_app/deps/
/phoenix_app/_build/
/phoenix_app/node_modules/

# Database
/phoenix_app/priv/repo/

# Static files
/phoenix_app/priv/static/

# Secrets
.env
*.secret

# Logs
*.log
/logs/

# n8n
/n8n_data/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
